a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

.leaderboardPlayerStatBlock {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	height: 50px;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-inline-start: 30px;
}

.leaderboardRankFirst {
	background-color: #da9e3b !important;
	box-shadow:
		0 0 6px 3px #b07513,
		0 0 10px 6px #b07513,
		0 0 14px 9px #b07513;
}

.leaderboardRankSecond {
	background-color: #989898 !important;
	box-shadow:
		0 0 6px 3px #5c5c5c,
		0 0 10px 6px #5c5c5c,
		0 0 14px 9px #5c5c5c;
}

.leaderboardRankThird {
	background-color: #ae7441 !important;
	box-shadow:
		0 0 6px 3px #8c5524,
		0 0 10px 6px #8c5524,
		0 0 14px 9px #8c5524;
}

.leaderboardPlayersList {
	display: box;
	width: 100%;
	/* -webkit-box-orient: vertical; */
	/* -moz-box-orient: vertical; */
	-o-box-orient: vertical;
	/* -webkit-flex-direction: column; */
	-ms-flex-direction: column;
	flex-direction: column;
	/* flex-direction: column; */
	padding: 16px 20px;
}

@media (max-width: 480px) {

	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
	}

	.leaderboardPlayersListContainer {
		max-width: 80% !important;
	}

	.leaderboardSidebarBlock {
		width: 80% !important;
		max-width: 90%;
		margin-left: 10% !important;
	}

	.nonpriority {
		display: none;
	}
}

.leaderboardPlayersListContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	max-width: 100%;
	-webkit-flex-shrink: 2;
	flex-shrink: 2;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-o-box-flex: 2;
	-ms-box-flex: 2;
	box-flex: 2;
	-webkit-flex-grow: 2;
	flex-grow: 2;
	background-color: #000724;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3pt 2pt #3772d8;
}


.leaderboardPlayerSep {
	width: 100%;
	height: 1px;
	margin: 15px 0 15px 0;
	background-color: #3871d8;
}

.leaderboardPlayer {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 55px;
	padding: 35px 0px;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	transition: transform .5s ease;
}

.leaderboardPlayerLeft {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	max-width: 65%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 0 1 65%;
	-ms-flex: 0 1 65%;
	flex: 0 1 65%;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.leaderboardPlayerIcon {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 0 0 50px;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px;
	height: 50px;
	border-radius: 50%;
	margin-inline-start: 15px;
}

.leaderboardPlayerIcon img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.leaderboardPlayerUsername {
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	margin-inline-start: 15px;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.leaderboardPlayerStats {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 0 0 20%;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-self: center;
	align-self: center;
	-ms-flex-item-align: center;
	margin-inline-start: auto;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.leaderboardPlayerStatName {
	font-size: 12px;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 1px;
	color: #85878a;
}

.leaderboardPlayerStatValue {
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	margin-top: 5px;
	color: #fff;
}

.leaderboardRank {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 0 0 35px;
	-ms-flex: 0 0 35px;
	flex: 0 0 35px;
	background-color: #50555a;
	height: 35px;
	border-radius: 50%;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	font-weight: 600;
	color: #fff;
}

.leaderboardSidebarBlock {
	-webkit-box-shadow: 0 0 3pt 2pt #3772d8 !important;
	box-shadow: 0 0 3pt 2pt #3772d8 !important;
	width: 320px;
	display: -webkit-box;
	display: -moz-box;
	height: fit-content;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #000724;
	border-radius: 15px;
	padding: 16px 20px;
	margin-inline-start: 30px;
	margin-bottom: 20px;
	max-height: 3000px;
	overflow: hidden;
	-webkit-transition: max-height 175ms ease-out;
	-moz-transition: max-height 175ms ease-out;
	-o-transition: max-height 175ms ease-out;
	-ms-transition: max-height 175ms ease-out;
	transition: max-height 175ms ease-out;
}

@media (max-width: 988px) {
	.leaderboardSidebarBlock {
		margin-inline-start: 0;
		width: 100%;
		max-height: 54px;
	}

	.flexWrap {
		margin-top: -5% !important;
	}
}

@media (max-width: 766px) {
	.remove-mobile {
		display: none;
	}
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
}

.flexRow {
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flexColumn {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (max-width: 640px) {
	.mobileFlexRow {
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-o-box-orient: horizontal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

@media (max-width: 640px) {
	.mobileFlexColumn {
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-o-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.flexAlignCenter {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.flexAlignStart {
	-webkit-box-align: start;
	-moz-box-align: start;
	-o-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.flexAlignEnd {
	-webkit-box-align: end;
	-moz-box-align: end;
	-o-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.flexJustifyCenter {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.flexJustifyStart {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-o-box-pack: start;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.flexJustifyEnd {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	-o-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flexChildRight {
	margin-left: auto;
}

.flexChildLeft {
	margin-right: auto;
}

.flexChildTop {
	margin-bottom: auto;
}

.flexChildBottom {
	margin-top: auto;
}

.top40 {
	margin-top: 40px;
}

.top20 {
	margin-top: 20px;
}

.top30 {
	margin-top: 30px;
}

.top10 {
	margin-top: 10px;
}

.top0 {
	margin-top: 0;
}

.bottom10 {
	margin-bottom: 10px;
}

.flexDirectionRow {
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flexDirectionColumnn {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flexDirectionRowReverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	-o-box-direction: reverse;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.flexDirectionColumnReverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	-o-box-direction: reverse;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

@media (max-width: 640px) {
	.mobileFlexDirectionRow {
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-o-box-orient: horizontal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.leaderboardSidebarBlock h1 {
	font-size: 16px;
	color: #fff;
	padding-top: 0;
	padding-bottom: 15px;
	text-transform: none !important;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.leaderboardSidebarBlock h5 {
	font-weight: 600;
	text-transform: uppercase;
	color: #9f9fa0;
}

.leaderboardSidebarBlock .leaderboardSidebarBlockSeparator {
	width: 100%;
	height: 1px;
	background-color: #3871d8;
	margin-bottom: 15px;
}

.flexWrap {
	margin-top: -8%;
}

@media (max-width: 640px) {
	.leaderboardSidebarBlock.open {
		max-height: 3000px;
	}
}

.leaderboardBody {
	width: 100%;
	max-width: 800px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 30px;
}

@media (max-width: 988px) {
	.leaderboardBody {
		-webkit-box-direction: reverse;
		-moz-box-direction: reverse;
		-o-box-direction: reverse;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-o-box-orient: vertical;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		padding: 0px;
		margin-left: 10%;
		padding-right: 5;
	}
}

.leaderboardRole {
	border: 1px solid;
	padding: 0 13px;
	margin-left: auto;
	width: max-content;
	height: 28px;
	font-size: 12px;
	font-weight: 500;
	line-height: 28px;
	-webkit-box-align: centers;
	-moz-box-align: centers;
	-o-box-align: centers;
	-ms-flex-align: centers;
	-webkit-align-items: centers;
	align-items: centers;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	margin-inline-end: 1px;
	overflow: hidden;
	max-width: 270px;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-o-box-pack: start;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	margin-bottom: 5px;
}

/* Nav Area */
.top-bar {
	width: 100%;
	position: relative;
	height: 25px;
	text-align: right;

}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20%;
}

/* Styles for Cards */
.card {
	display: inline-block;
	width: 300px;
	height: 400px;
	overflow: hidden;
	border: 1.25px solid rgb(233, 233, 233);
	border-radius: 16px;
	margin: 10px;
	transition: 0.5s all;
	--shadow: transparent;
	box-shadow: 0 0 10px 5px var(--shadow);
	position: relative;
	font-size: 100%;
}

.card:hover {
	--shadow: rgba(53, 53, 53, 0.103);
	transform: translate(10px, 10px);
	background: blue;
}

.card:hover .main-content {
	pointer-events: initial;
	opacity: 1;
}

.card * {
	margin: 0;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-content {
	padding: 25px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;
}

.stats {
	color: grey;
	font-size: 110%;
}

.displayname {
	font-weight: bold;
	text-decoration: underline;
	font-size: 170%;
	color: #000;
}

.levels {
	font-weight: bold;
	font-style: italic;
	font-size: 150%;
	color: #6c757d;
}

.fpanel-name {
	color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 200%;
	padding: 10px;
	text-shadow: 0px 0px 4px black;
}

li {
	list-style-type: none;
	margin: 0;
}

.label {
	font-weight: bold;
}

.btn-container {
	text-align: right;
	padding: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* Footer */

.footer-white {
	font-size: 24px;
	font-weight: 300;
}

.text-muted {
	color: #6c757d !important
}

.text-center {
	text-align: center !important
}