name: Preview
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  deploy:
    name: Deploy (Preview)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate token
        id: app_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
      - name: Deploy to Vercel Action
        uses: BetaHuhn/deploy-to-vercel-action@latest
        with:
          GITHUB_TOKEN: ${{ steps.app_token.outputs.token }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.HOME_PID }}
          PRODUCTION: false # Don't deploy to production environment
          PR_PREVIEW_DOMAIN:  ${{ secrets.PREVIEW_DOMAIN }}
